.App {
  font-family: sans-serif;
  text-align: center;
}
h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body {
  background-color: #aeebdd;
}
button {
  background-color: #fddab2;
}
.output {
  margin: 20px;
  padding: 20px;
  border-style: solid;
  border-color: #fcfcfc;
  text-align: left;
}
